@font-face {
  font-family: 'RacingSansOne';
  src: url("../assets/RacingSansOne-Regular.ttf");
}

@font-face {
  font-family: 'Inter';
  src: url("../assets/Inter.ttf");
}

@font-face {
  font-family: 'ITCAvanteGarde';
  src: url("../assets/ITCAvanteGarde.woff2");
}
